@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/* Global Styles */
body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

main {
    background-color: white;
    border: 1px solid #ccc;
    margin: 0 auto;
    max-width: 1200px;
    border-top: none;
}

.container {
    padding: 0 1rem;
}


/* Text and Elements */
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 1rem;
}

/* Grid Styles */
.grid {
    display: grid;
    gap: 1rem;
}